[2019-02-08 23:54] joelwass opened #2 "Implement login form component"
implement login page for donors or teachers

should have a toggle at the top for "Teacher" or "Donor"

form input for email, password
button for "Sign in".toUpperCase()

and link below for "forgot password"

[2019-02-08 23:55] joelwass commented on #2
toggle at top: substitute text for "Teacher" and "Donor"<img width="448" alt="blah" src="https://user-images.githubusercontent.com/7344422/52512506-ef956400-2bb9-11e9-8955-0280b31b3d6d.png">

[2019-02-08 23:55] joelwass commented on #2
Sign in form rough design<img width="648" alt="screen shot 2019-02-08 at 2 25 58 pm" src="https://user-images.githubusercontent.com/7344422/52512515-fde38000-2bb9-11e9-90a6-70268c2092c4.png">

[2019-02-08 23:57] joelwass opened #3 "implement register form component"
<img width="628" alt="screen shot 2019-02-08 at 2 26 09 pm" src="https://user-images.githubusercontent.com/7344422/52512533-1bb0e500-2bba-11e9-9cd8-1b83083d293a.png">

Rough design. DO NOT need 13 year old consent or "I'm signing up for...." dropdown.

[2019-02-09 00:55] joelwass opened #4 "set body of donate page to 100%"
Set body of donate page to 100% so the footer is by default below the view port

[2019-02-10 17:26] joelwass opened #7 "Option 1 and option 2 toggle to be used on login / register page as well as donate page"
<img width="442" alt="screen shot 2019-02-10 at 9 25 47 am" src="https://user-images.githubusercontent.com/7344422/52536954-df929700-2d15-11e9-8e79-5cdec1d4331b.png">

[2019-02-10 17:27] #7 closed

[2019-02-10 17:31] joelwass opened #8 "Update readme"
update readme with up to date info about the project, goals, how to debug, how to test, and how to contribute

[2019-02-10 17:31] joelwass opened #9 "Audit styles"
Make sure our global styles make sense for a top level mobile first project and audit for duplicate styles

[2019-02-10 17:36] joelwass opened #10 "add background image to login/signup page"
add abc_blackboard image to fill background of signup/login page.

[2019-02-10 17:37] joelwass opened #11 "ensure footer is always at bottom of page (initially off screen) for each page"
Fix styling like this where the footer is on page initially when it should be off

<img width="1400" alt="screen shot 2019-02-10 at 9 38 11 am" src="https://user-images.githubusercontent.com/7344422/52537105-99d6ce00-2d17-11e9-8ac1-a71a155c7f35.png">

[2019-02-10 17:47] joelwass opened #13 "add in global font specifics according to style guide"
Header: Oswald medium, 20 pt font, 24 pt leading
Text: Lato regular, 12 pt font, 16 pt leading
Pull Quote: Lato light, 40 pt font, 50 pt leading

[2019-02-10 17:49] joelwass opened #14 "Figure out where to host images"
cdn or compressed within build?

should we load smaller images on mobile first?

[2019-02-10 17:49] joelwass opened #15 "make API singleton"
create an api singleton for all API calls

[2019-02-11 20:24] korlando7 opened #17 "Add underscore to partial scss files."
Refactor with an "_" before the file name for any styles that are being imported.

For example `aboutus.scss` -> `_aboutus.scss`

in main.scss `@import 'partials/_aboutus.scss';`

Explanation from [sass site](https://sass-lang.com/guide)

[2019-02-11 20:44] korlando7 opened #18 "Refactor SCSS structure"
This project could really benefit from using [BEM](http://getbem.com/) styling across all styles.

I would avoid having all of the classes be camel case.

**Part One**

A lot of the scss files are just css inside a scss file. One big thing is minimal to no nesting. `donate.scss` almost follows these guidelines but does not have any nesting.

For example in `emailcapture.scss`:

**Currently**
[code

[2019-02-11 21:15] joelwass commented on #18
submit a PR :)

[2019-02-11 21:15] joelwass commented on #18
ALSO should go in our contributor guide in the readme

[2019-02-11 21:26] #15 closed

[2019-02-11 21:27] joelwass commented on #9
references in #17 and #18

[2019-02-12 03:32] joelwass commented on #11
looks still to be on the page

<img width="1391" alt="screen shot 2019-02-11 at 7 32 14 pm" src="https://user-images.githubusercontent.com/7344422/52609901-cbdd5280-2e33-11e9-8bc2-4a69196a814a.png">

[2019-02-12 04:09] stripedpajamas commented on #11
You would need more content on that page if you want it to not show

[2019-02-12 04:09] stripedpajamas commented on #11
If you move the footer down on that page right now you'd see the pencil picture end and ugly gray background appear

[2019-02-12 06:13] #11 closed

[2019-02-13 00:38] #17 closed

[2019-02-13 00:47] #2 closed

[2019-02-13 01:24] #4 closed

[2019-02-13 04:27] jatinkumarg commented on #10
Hey, can I work on this issue?

[2019-02-13 04:35] joelwass commented on #10
@jatinkumarg Yes! working on the readme for a contributors guide but if you're willing to work through this with us that'd be awesome.

the image can be found in static/images

[2019-02-13 04:35] joelwass opened #23 "make home page mobile friendly"
style up the mobile first styles of the index.js page

[2019-02-13 04:45] #8 closed

[2019-02-13 15:57] stripedpajamas opened #27 "add linting"
Add `npm run lint` support and potentially lint pre-push or pre-commit.

[2019-02-13 15:59] stripedpajamas opened #28 "add tests / testing framework"
choose a testing framework and get some basic component unit tests written

[2019-02-13 16:53] #10 closed

[2019-02-13 17:07] joelwass commented on #28
only test critical user journeys (CUJ's) for integration tests:

Most critical user journey: Jackie wants to donate to teacher fund, she goes to website, she donates, jackie leaves and carries on her day.
2nd most critical user journey: Tammy the Teacher wants funds. She goes to the website, logs in to her Teacher account, and requests money and/or supplies via the request portal

[2019-02-14 18:27] joelwass opened #31 "implement react google maps for our work page"
Implement basic outline of react google map for the "our work" page

https://tomchentw.github.io/react-google-maps/#introduction

the map should belong in a component which can be used in the ourwork.js page as well as the account.js page (coming soon). it should take in markers to display as props

[2019-02-15 05:20] andrewkoung opened #33 "TwoItemSwitcher text camouflaged with the background"
Hi there! I'm a student hoping to get into some open source development. I've built the project and was looking at the SCSS structure issue, but realized that the TwoItemSwitcher text's color was matching with the white background making it impossible for me to see the option. Small issue, but I've made a pull request anyways to change the text color.

[2019-02-15 17:00] joelwass commented on #33
i noted on your pull request that it might be best to pass in a prop of the color instead. since the background will be different in different situations.

also if you add "fixes #33" to your pull request description it will close this issue when we merge the PR!

[2019-02-15 17:37] #33 closed

[2019-02-15 22:00] #27 closed

[2019-02-17 06:14] andrewkoung commented on #13
Hi @joelwass!
Did you want anything that is related to a header, text, and pull quote follow that css template? Any suggestable ideas on how you wanted this done?

[2019-02-19 16:29] joelwass opened #39 "find hourglass react component"
Fine hourglass react component to display on our work page as to how much money is in our coffers

[2019-02-19 16:30] joelwass opened #40 "implement table for our work page with all payout and payment info"
create basic table with all info of cash inflows and outflows pulled from the API. this belongs as a component to be used in the ourwork.js page

[2019-02-19 16:48] joelwass opened #42 "add in production api src link for google map src link in ourwork.js"

[2019-02-20 19:07] #31 closed

[2019-02-26 16:41] stripedpajamas opened #45 "move text transformations into css"
instead of `'home'.toUpperCase()` we can use something more like `{ text-transform: uppercase }`

[2019-02-26 16:51] #45 closed

[2019-02-26 17:36] trowacat commented on #3
I am able to implement this, I will follow the style of the current sign in page. I will also fix the sign in link in the nav as it currently goes to a 404 page.

[2019-02-28 22:36] korlando7 commented on #14
how about host them on s3 and then include mobile, tablet, and desktop image files for each image, thoughts?

[2019-03-05 00:45] jfeng43 commented on #18
Hi, I am a newbie in open source community and I'd like to make contribution to this!

[2019-03-05 01:08] jfeng43 commented on #13
Let me see if I can implement it.

[2019-03-05 03:29] jfeng43 commented on #18
I just submitted a pull request for refactoring email capture component. Let me know if this is the right way to style the code.

[2019-03-05 04:30] jfeng43 commented on #13
Hi, I have submitted a code request for this feature. In this request, I only add the global style for the nav elements (I assume this is the "header" element that you mentioned in the issue).

[2019-03-05 15:19] joelwass commented on #13
Awesome, thanks @jfeng43, it looks great! Chances you want to implement the text font as well?

[2019-03-05 15:20] joelwass commented on #42
this was done

[2019-03-05 15:20] #42 closed

[2019-03-05 15:46] joelwass opened #55 "Pass query string param of login type on nav button clicks to load login form on right setting"
Currently, if I click "I'm a teacher" within the nav, the login form loads but with the default setting of "i'm a donor" selected in the toggle above the sign in form.

let's pass a query string param `?type=teacher` with the navigation with "I'm a teacher" is selected, and then grab it off the query string param in the login page and pass it in as a prop to the loginForm component.

[2019-03-06 04:11] DavidLi119 commented on #18
Hello, I am a beginner in the open source community and I would like to make a contribution to this issue.

[2019-03-06 04:47] SahibArora commented on #55
Hi @joelwass, I can help on this one.
Thanks,

[2019-03-06 18:22] SahibArora commented on #55
Hi,
I was working on it but I am stuck here:

<Link href='/signinregister' param={{type:'donor'}}><a className='black ttu'>Login</a></Link>
            <Link href='/signinregister' param={{type:'teacher'}}><a className='black ttu'>I'm a teacher</a></Link>

How can I access the parameters in signinregister?

[2019-03-06 19:11] joelwass commented on #55
Use this https://github.com/zeit/next.js/blob/master/errors/url-deprecated.md

what that means is in the signinregister page you'll wrap the page export in `withRouter`.
then you'll access the router in the constructor of the signinregister:
`const SignInSignUp = ({ router }) => (`
then you'll pass in as a prop to the loginForm component:
 `type={router.query.type}`

then you should access the typ

[2019-03-06 19:19] stripedpajamas commented on #55
It might be better to use the built-in `getInitialProps` in the page component (https://github.com/zeit/next.js/tree/master#fetching-data-and-component-lifecycle).

It would look something like this:

[code]

[2019-03-06 19:33] joelwass commented on #55
@SahibArora Definitely go with @stripedpajamas suggestion to avoid use of a HOC when not necessary

after adding the getInitialProps method that @stripedpajamas outlined, you can pass in the type prop to loginForm like i mentioned with `type={props.teacher}`

[2019-03-06 19:59] SahibArora commented on #55
Thank you for your help @joelwass and @stripedpajamas. I will continue further on it.

[2019-03-07 23:08] SahibArora commented on #55
Hello again,
One good thing, I am very close.

Just one thing,
When I use the `getInitialProps()`

`SignInSignUp.getInitialProps = async ({ query }) => {
  console.log(query.type)   // It gives me undefined.
  return { teacher: query.type === 'teacher' }
}`

This is how I passed the parameters through Link -

`<Link href={{pathname:'/signinregister', query:{type:'teacher'}}}><a className='black tt

[2019-03-07 23:47] joelwass commented on #55
I think you can just pass it into the Link component as follows:

`<Link href='/signinregister?type=teacher' />`

[2019-03-07 23:48] stripedpajamas commented on #55
@SahibArora Your `getInitialProps` func looks good. To pass in the query edit `nav.js` where it says

```{ href: '/signinregister', label: 'I\'m a teacher' }```
change it to
```{ href: '/signinregister?type=teacher', label: 'I\'m a teacher' }```

[2019-03-07 23:50] joelwass commented on #55
also if you could pass in `type=donor` for the donor links, that'd be great. Thanks @SahibArora !

[2019-03-08 02:22] SahibArora commented on #55
I did  the `type=donor` already. Will try your suggestion now.
Thank you, again for your help :)

[2019-03-08 02:34] SahibArora commented on #55
It worked, perfect!
Thank you!
Will create the pull request now.

[2019-03-08 14:11] stripedpajamas opened #61 "make linting a little easier"
We should update `npm run lint` to run `standard --fix` so spacing issues are solved automatically.

Up for discussion, we could add a pre-push hook that runs the linter (and any unit tests) as well.

[2019-03-08 16:53] #61 closed

[2019-03-08 17:44] #55 closed

[2019-03-15 14:31] pbrahmbhatt3 commented on #40
Hi,
I would like to work on this issue. However, I am new to this project. Any suggestions on where can I start from. @joelwass

[2019-03-16 00:54] joelwass commented on #40
Hi @pbrahmbhatt3 ! Thanks for your interest!

I think this would be a good starter task, we just want to create a table component that will be able to show a list of data (columns being something like: type, donor/recipient, amount, and date) and then the rows being data fetched from the api (you don't have to worry about this yet it can be a separate task as the API side isn't done yet).

Long st

[2019-03-22 01:16] jfeng43 commented on #40
@joelwass I have some questions:
1. since the API is not ready yet, should I write some static data for the table?
2. what are the columns?
3. how should the table look like?
4. where should I put the table

It would be great if you can attach a draft of the new page so that I can understand better your goal.

[2019-03-22 04:58] joelwass commented on #40
sure!

columns should be: "type", "donor/recipient", "amount", and "date". the table should be in chronological order with the top most rows being the most recent.

The table should be in it's own component and you can follow this guide to create just a simple css grid https://medium.com/evodeck/responsive-data-tables-with-css-grid-3c58ecf04723

[2019-03-22 04:58] joelwass commented on #40
I know that's vague, we don't really have designs currently so we'll definitely have to revisit but we appreciate you helping out and getting this going!!!

[2019-03-22 15:10] pbrahmbhatt3 commented on #40
Thank for your input. I am currently working on this issue @joelwass

[2019-03-23 18:07] #3 closed

[2019-03-23 18:09] joelwass commented on #40
how can i help @pbrahmbhatt3

[2019-03-23 18:31] jfeng43 commented on #40
@joelwass sounds good. I am looking into it.

[2019-03-24 15:46] jfeng43 commented on #40
Hi @joelwass , I created this pull request: https://github.com/teacherfund/TeacherFund_next/pull/67

[2019-03-24 15:47] jfeng43 commented on #40
<img width="1303" alt="table" src="https://user-images.githubusercontent.com/28817027/54881837-a1b38300-4e2a-11e9-8d0a-5638a5c27c56.png">

[2019-03-24 15:48] jfeng43 commented on #40
Please let me know your comment!

[2019-03-26 21:20] stripedpajamas opened #69 "wrap authenticated routes in a redirecter"
currently you can directly access `/account` (not sure what other pages assume a logged in state). it should instead redirect to either the home page or the login page. this might be able to be baked into the existing HOC.

[2019-03-28 06:28] pbrahmbhatt3 commented on #40
The table looks good. However, I suppose that the background image will be removed! As it would become very difficult to read data with this image at the back.

[2019-03-28 17:58] joelwass commented on #40
Good point @pbrahmbhatt3 . i just merged @jfeng43 's table, we'd love styling help if you have bandwidth!

[2019-03-28 17:58] #40 closed

[2019-03-28 23:21] abdiG commented on #39
Hi @joelwass, i am new to open source and would like to contribute to this project. If no one is working on this issue may work on it. If i can, where should i place the hourglass

[2019-03-29 14:53] joelwass commented on #39
On the account page!

within the `account--stats` div

[2019-03-30 20:15] stripedpajamas opened #71 "add post-login and post-registration pages"
Since registration/login are both email based, we need a page to redirect to after each that tells the user to expect an email.

[2019-04-02 22:23] jfeng43 commented on #71
Hi @stripedpajamas , I'd like to help here. Could you add more information about this issue? It would be great to have some flow charts or some pictures as reference materials.

[2019-04-03 14:23] joelwass commented on #71
Hey @jfeng43 , this is hard to explain and was created as more of just a tracking bug. let me try to get some mocks to you asap!

[2019-04-03 14:23] joelwass commented on #13
fixed.

[2019-04-03 14:23] #13 closed

[2019-04-04 00:59] jfeng43 commented on #71
Sounds good.

[2019-04-05 01:06] jfeng43 commented on #28
Hi @joelwass just want to know, which testing framework are you going to use? Any guidance on doing integration tests? I write unit tests most of the time, but when it comes to integration tests, I don't know how to implement them in a systematic way.

[2019-04-05 03:19] jfeng43 commented on #69
@stripedpajamas , which HOC component you suggest me to add the redirection logic to?

[2019-04-05 16:30] pbrahmbhatt3 commented on #71
I think I have an idea of how would these pages look like since I have worked on it before. Can I work on it @joelwass

[2019-04-05 16:44] joelwass commented on #71
Absolutely, feel free

[2019-04-06 04:54] jfeng43 commented on #71
Hi @stripedpajamas @joelwass , I just added a post-registration page: https://github.com/teacherfund/TeacherFund_next/pull/73

The page can be accessed via localhost:3001/post-registration.
Please review my code change.

Thanks

[2019-04-06 14:21] jfeng43 commented on #71
<img width="1012" alt="Screen Shot 2019-04-06 at 10 21 15 AM" src="https://user-images.githubusercontent.com/28817027/55670706-bdb91a80-5855-11e9-8203-d85a217c7789.png">

[2019-04-09 03:28] abdiG opened #74 "show password does not work"
#### In the `\signinregister` page in password field when typed a password `show` button doesn't work. I can try and see if i can do a PR for this.

![showPassword](https://user-images.githubusercontent.com/46496734/55771228-27534780-5a55-11e9-8aac-555bf035bddb.PNG)

[2019-04-09 17:21] stripedpajamas commented on #74
Good find @abdiG -- the fix for this should actually be to remove the password field completely as we are trying to move towards a passwordless authentication scheme.

[2019-04-09 17:49] joelwass commented on #74
I believe this was taken out in master branch, could you pull master before starting work?

[2019-04-10 02:02] abdiG commented on #74
Hey @joelwass, just checked the master branch and the password field has been removed, so there is no need for PR. Let me know if i can help you guys with anything else.

[2019-04-10 02:11] abdiG opened #75 "Footer does not redirect to /aboutus page"
![image](https://user-images.githubusercontent.com/46496734/55846548-10275f00-5b14-11e9-9f4f-2941f7d8c325.png)
![image](https://user-images.githubusercontent.com/46496734/55846574-28977980-5b14-11e9-9243-3f4682c7d1b4.png)

I will create a PR in a moment to fix this.

[2019-04-10 15:41] #75 closed

[2019-04-10 15:46] #74 closed

[2019-04-16 17:54] stripedpajamas opened #77 "Anti pattern for account buttons"
- The `buttons` array is outside the component, so changes to it will persist across app state changes (logging in and out / changing pages does not reset the `buttons` array)
- The splicing of the `buttons` array happens in the component's render function, which is called on every state change or props change -- for instance, opening/closing the drawer would re-call the render function and if the

[2019-04-17 20:48] aqeelparpia commented on #71
hello @stripedpajamas @joelwass  i added a post login Welcome page that Greets user after they have logged in. Since the login is also email based "This is a personal opinion as i dont think a user wouldnt be happy receiving emails everytime as they login unless its an activity confirmation email". Please Review. Thanks #78

[2019-05-03 12:46] joelwass commented on #39
no longer applicable

[2019-05-03 12:46] #39 closed

[2019-05-03 12:46] joelwass commented on #9
no longer applicable, using taychon

[2019-05-03 12:46] #9 closed

[2019-05-03 12:46] joelwass commented on #18
no longer applicable, using taychon

[2019-05-03 12:46] #18 closed

[2019-05-03 12:47] joelwass commented on #23
this should use taychon styles that are currently being utilized in the rest of the app

make sure this doesn't change the look/feel of the existing desktop version

http://tachyons.io/docs/

[2019-05-03 12:48] #71 closed

[2019-05-03 12:49] joelwass opened #81 "Make two item switcher button text vertically centered"
Center vertically the two item switcher text

code in: twoItemSwitcher.js
screenshot of bug:
<img width="335" alt="Screen Shot 2019-05-03 at 2 48 26 PM" src="https://user-images.githubusercontent.com/7344422/57138303-9d2ba400-6db2-11e9-9463-541f9cdb88a5.png">

[2019-05-03 12:49] joelwass commented on #81
All style bugs, such as this one, should use the taychon library

http://tachyons.io/docs/

[2019-05-03 12:51] joelwass opened #82 "Make the stripe info input the same width as the other donate form divs"
Styling issue -> use taychons.io/docs

The width of the stripe input is slightly too large. using the taychon styles, align the width with the other inputs in components/donateForm.js

See screenshot for bug:
<img width="384" alt="Screen Shot 2019-05-03 at 2 50 00 PM" src="https://user-images.githubusercontent.com/7344422/57138434-f267b580-6db2-11e9-90ce-532a654e7802.png">

[2019-05-03 12:53] joelwass commented on #69
This belongs in a route guard
https://stackoverflow.com/questions/50687015/route-guards-in-next-js-react
https://github.com/zeit/next.js/issues/153

[2019-05-03 18:25] thischrisblack commented on #82
Hello, this is my first time trying to contribute to open source, and it looked like an issue I could take a shot at, so I forked, cloned, branched, and npm installed, and ran npm run dev. However, on my local machine, it looks very different. The stripe form is the same width as the rest, and there is no spacing between the forms.

![stripe](https://user-images.githubusercontent.com/7775971/57157

[2019-05-04 07:14] joelwass commented on #82
Hi @thischrisblack ! Sorry about that, if you pull master you should see the issue (we just merged a major redesign). Note: the donate button in the nav is the only one that currently works, i'll fix the other one today but not sure i'll get around to it.

let me know if you have any other issues running the app and seeing the issue!

[2019-05-04 17:04] thischrisblack commented on #82
Aha, there it is! Thank you. I'll get started.

[2019-05-04 20:53] thischrisblack commented on #81
If my recent PR for the stripe input meets your needs, I'd love to work on this one as well. Let me know, and thanks!

[2019-05-05 05:23] joelwass commented on #81
Absolutely! Thanks @thischrisblack !

[2019-05-05 05:27] joelwass opened #84 "Make apply and donate buttons clickable on index page (get involved section)"
For some reason the two buttons aren't clickable (i'm assuming it's because of some z-index garbage). code is in index.js Get Involved section

screenshot:
<img width="1107" alt="Screen Shot 2019-05-05 at 7 26 29 AM" src="https://user-images.githubusercontent.com/7344422/57188906-35d33880-6f07-11e9-9e54-f4d1cc86c376.png">

[2019-05-05 22:13] thischrisblack commented on #81
@joelwass, I just submitted PR. It says "This branch has conflicts that must be resolved," so I'm wondering if I skipped a step? I checked the upstream master before working and it said I was up to date, so please let me know if there's a problem I can fix. Thanks!

[2019-05-06 15:57] thischrisblack commented on #84
I'd like to give this a try.

[2019-05-06 16:31] #84 closed

[2019-05-06 16:31] joelwass commented on #84
sorry @thischrisblack , was fixed in latest push

[2019-05-06 16:32] joelwass commented on #81
fixed in above PR

[2019-05-06 16:32] #81 closed

[2019-05-06 16:33] joelwass commented on #82
fixed in https://github.com/teacherfund/TeacherFund_next/pull/83

[2019-05-06 16:33] #82 closed

[2019-05-06 16:33] joelwass commented on #23
This can be done by using chrome dev tools to simulate the site on iphone X

[2019-05-06 17:00] thischrisblack commented on #84
Ah! Well, it was a fun fix and I learned something anyway.

[2019-05-06 22:24] vanessanaja commented on #23
Hi Joel,

I'm new to open source and I really love what you're doing with this project.

This would be my first issue in open source.

I thought I'd volunteer to work on this since it's been open for a while. It might take me a second as I have to familiarize myself with tachyon but I'm happy to give it a shot.

[2019-05-06 22:38] joelwass commented on #23
Awesome! Thank you!

[2019-05-07 23:06] stripedpajamas commented on #23
Hi @vanessanaja -- sorry to pull the rug out from under you here, but I was talking to our front end and it appears he's already got most of this task done on his own branch. It makes more sense for him to just finish it up.

Thanks so much for offering to help out -- feel free to pick up another issue, and we'll try to be vigilant on our end to make sure the assignee is properly set so no wasted

[2019-05-08 00:33] vanessanaja commented on #23
No problem. Glad it's being worked out :)

[2019-05-08 20:47] korlando7 opened #87 "Make site fully responsive"
Complete styling by making sure design works on medium mobile screens and that the site is fully responsive when window is resized

[2019-05-08 20:49] korlando7 opened #88 "Add mobile nav menu"
Once the width of the screen is too small we need a navigation change for the `nav` component.

Let's decide what kind of layout / menu we want. I am proposing:

Logo on left and a hamburger icon on right that when clicked displays a dropdown with the menu items with `flex-column`

[2019-05-08 21:15] stripedpajamas commented on #88
I am proposing a minimalistic inline collapse: https://tachyons.io/components/nav/logo-links-inline-collapse/index.html

[2019-05-09 01:22] korlando7 opened #89 "Email list form needs better validation"
The `subscribe` method in `index.js` does not have any validation for the inputs. Right now it is assuming there will be a first and last name typed into one input, i feel like that could cause some issues for us and we might want to change how that works (open to discuss).

The email definitely needs a regex validation before submit so that would be the first definite task.

[2019-05-09 01:24] #23 closed

[2019-05-09 15:49] vanessanaja commented on #89
I'd love to work on the email regex validation. This would be my first official issue. I was working on making the page responsive but it turns out that someone was already working on that.

[2019-05-09 15:54] korlando7 commented on #89
@vanessanaja cool! all you. Go ahead and start working on the email validation. Don't worry about the name for now.

[2019-05-09 15:55] vanessanaja commented on #89
I'll get started on it this afternoon :)

[2019-05-09 15:58] korlando7 commented on #89
As far as name validation on that form I'm proposing something simple like `^[a-zA-Z]{2,}$` instead of checking if it is empty.

[2019-05-09 16:04] stripedpajamas commented on #89
For the email input we should be able to set type=email and mark the input as `required` and HTML will take care of the validation for us

[2019-05-09 16:06] stripedpajamas commented on #89
As far as the name input goes -- let's definitely split it up to first name last name. Would not want a too restrictive regex on it (some names have apostrophes etc) so would probably leave that one pretty permissive.

[2019-05-09 18:07] joelwass opened #90 "Style donate page mobile first"
for mobile: no background image, just some room to breath around "donate form" and no subtext section

for desktop: donate form on left and subtext section on right with background image of /static/images/pencils.jpg

[2019-05-09 23:55] vanessanaja commented on #89
I've submitted a pull request for the email validation. I'm happy to work on splitting the name input over the weekend if there's no rush on it.

[2019-05-10 16:23] raregamer opened #92 "Donate page IMG conflicting with the rest of the page."
On the donate page the image seems to be conflicting with the whole layout.  The ".absolute" class and "position", look to be part of the culprit. This is blocking out the donate form and any other information that might be on the page.

[2019-05-10 16:28] joelwass commented on #92
Thanks @raregamer! I think this is solved in a PR that is just about to be put in

[2019-05-10 16:30] #89 closed

[2019-05-11 17:30] joelwass commented on #92
Fixed in https://github.com/teacherfund/TeacherFund_next/pull/93

[2019-05-11 17:30] #92 closed

[2019-05-11 17:31] joelwass commented on #90
Fixed in https://github.com/teacherfund/TeacherFund_next/pull/93

[2019-05-11 17:31] #90 closed

[2019-05-12 01:08] vanessanaja commented on #89
I've submitted the PR for splitting the name input into first and last name.

[2019-05-19 22:58] joelwass opened #96 "implement twitter "Spread the word" tweet feature"
When a user donates, our app takes them to the /success page. here, we want a button that says "Spread the word" (currently commented out) which will redirect them to twitter with a pre-filled tweet saying

"I just donated to The Teacher Fund, check it out at theteacherfund.com"

[2019-05-20 00:10] vanessanaja commented on #96
I'm happy to work on this next week.

[2019-05-21 01:58] joelwass commented on #96
Fixed in #97

[2019-05-21 01:58] #96 closed

[2019-05-22 23:48] stripedpajamas commented on #14
Since we are using Now, we could [follow Zeit's lead](https://spectrum.chat/zeit/now/are-static-deployments-a-good-place-to-host-my-image-assets~a9c13c0d-f893-474b-bb11-a0b18a519c92?m=MTUzNzkwODY2NDI4Nw==) and have the assets in their own Now deployment.

The idea would be to make another repo (TeacherFund_assets) and put our images (with all their different sizes) in the repo. Then set that repo

[2019-05-22 23:51] korlando7 commented on #14
Sounds good to me

[2019-05-22 23:52] joelwass commented on #14
What's the advantage of this. the main site loads faster because it's more light weight, but the pictures take longer to load since it's a network request away? or is it advantageous because first paint because much faster and the photos come in asynchronously?

[2019-05-23 00:03] stripedpajamas commented on #14
Well I don't think there is a way to avoid images being a network request away -- I'm not sure what is meant by compressing the images in build, but wouldn't the client still need to request the image from the hosting server to display it locally?

There is no advantage to hosting assets with Zeit over S3 besides having 1 place to manage the whole front end instead of splitting it up.

[2019-05-23 00:26] joelwass commented on #14
If we don't put images elsewhere, aren't the images by default currently included in the zeit build i.e. not a network request away?

so by introducing a new hosting server, aren't we introducing the latency of fetching said images?

[2019-05-23 00:31] stripedpajamas commented on #14
When the app builds, the assets are uploaded alongside the HTML. When a user browses to the website, the HTML loads and the images are requested because they are referenced in the HTML. The browser downloads them at that time from Zeit.

Moving the assets to a separate deployment has these benefits:
- smaller GH repo size (easier on contributors)
- ability to set granular caching rules for the ima

[2019-05-23 02:53] stripedpajamas commented on #14
The simplest solution is to leave the assets in this repo and therefore part of this deployment, and we only miss out on a negligible performance bump

[2019-06-10 07:02] nidamunir commented on #77
Is this issue fixed already?

[2019-06-10 07:05] nidamunir commented on #28
Can i write unit tests?

[2019-06-10 14:15] joelwass commented on #28
Yes! I think @stripedpajamas and I need to consider testing frameworks. I'd assume we want to run just integration tests on a headless browser, i don't think there's need for unit tests on our FE.

Thoughts?

[2019-06-10 14:16] joelwass commented on #77
We currently removed the login functionality, but that's an entire feature that needs to be added back in, in which case this bug still exists!

Let me see how close this issue is to being unblocked

[2019-06-20 20:00] stripedpajamas opened #99 "Create different size images"
Currently our images are too big. The header image we're using is 4mb. Loading on mobile is slow.

Acceptance criteria:
- There are small, medium, and large versions of each image
- All images are compressed to the highest amount that does not affect human-eye quality
- Which size image is loaded is based on the screen size of the website user

In the near future, there may be different images for

[2019-06-20 20:03] stripedpajamas opened #100 "Implement medium screen design"
We have designs for medium sized screens:

- [The main page design](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/e94f8970-114b-4351-8e6f-6e2d2546d6bf/iPad-1/)
- [The menu](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/923eeaff-e5c6-4c78-b793-c002eb03aeb0/iPad-4/)
- [The donate page](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed5

[2019-06-20 20:05] stripedpajamas opened #101 "Implement small screen design"
We have designs for medium sized screens:

- [The main page design](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/c4126a77-a62e-470d-a5b7-aa70583b0db4/iPhone-6-7-8-1/)
- [The menu](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/e0771c69-47bd-49bc-9742-3295e955ea38/iPhone-6-7-8-4/)
- [The donate page](https://xd.adobe.com/spec/39899b04-1c47-4

[2019-06-20 20:07] stripedpajamas opened #102 "Audit desktop design"
This issue can be closed once a careful eye has examined the current website and confirmed that it conforms to the design.

- [The main page](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/3f125505-b3ab-4a53-a97f-d33cf0ab1bb4/Web-1920-1/)
- [The donate page](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/813240b2-010b-4a2c-afc4-e2977677d2fc/W

[2019-06-20 20:09] stripedpajamas commented on #87
This can be closed in favor of #100 #101 #102

[2019-06-20 20:09] #87 closed

[2019-06-20 20:09] stripedpajamas commented on #88
This can be closed in favor of #100 #101

[2019-06-20 20:09] #88 closed

[2019-06-20 20:10] stripedpajamas commented on #77
This issue is no longer in master. Will close for now and if any other anti-patterns come up after reimplementing account management, we can open fresh issues for them.

[2019-06-20 20:10] #77 closed

[2019-06-20 20:15] stripedpajamas commented on #28
Our front end is a little too in flux right now for unit tests. After #100 #101 and #102 are closed, I think it would be safe to add some Enzyme tests to keep any future code changes from regressing on the design.

In regard to integration tests, for now I think it would be fine for now to implement unit tests around our client side API wrapper with mocks and unit tests around our [server side](ht

[2019-06-20 20:16] stripedpajamas commented on #14
Let's leave image handling as is -- assets are in the repo, they get uploaded to Zeit during a deployment, and served from the Zeit CDN. If we encounter issues with this approach down the road, we can open an issue.

[2019-06-20 20:16] #14 closed

[2019-06-20 20:17] stripedpajamas commented on #69
Since account features have been removed, let's close this issue out. @joelwass and I will be revisiting the account architecture and once we have that nailed down we can create issues for implementation.

[2019-06-20 20:17] #69 closed

[2019-06-21 17:05] joelwass opened #104 "Add paypal button to donate page"
Add OR donate with paypal button to donate page

[2019-06-24 05:22] SinghVikram97 commented on #101
I would like to work on it

[2019-06-24 13:29] joelwass commented on #101
that'd be great @SinghVikram97

[2019-06-24 14:43] SinghVikram97 commented on #101
Should I start working?

[2019-06-27 21:04] joelwass commented on #101
Any time you'd like! @SinghVikram97

[2019-06-27 22:10] joelwass opened #106 "Do accessibility audit (screen readers) of the site"
Make sure our site meets a11y standards (https://www.w3.org/WAI/standards-guidelines/wcag/)

[2019-06-27 22:47] mjfneto commented on #106
Hi, can I give it a try?

[2019-06-28 00:44] stripedpajamas commented on #106
Absolutely @mjfneto

[2019-06-29 20:13] mjfneto commented on #106
@stripedpajamas After some research, I think someone more experienced in Next.js could take the lead of this issue. Since I'm still learning about the framework and I don't know if you have a target date for this step, it might be better to have the help of a more proficient contributer.

- I have been following [WHUCAG 2.0 checklists](https://www.wuhcag.com/wcag-checklist/) if someone is interest

[2019-07-17 02:18] mahanthathreyee commented on #102
Hi, could I contributing to this issue?

[2019-07-18 18:44] joelwass commented on #102
Yes of course!

[2019-07-21 04:42] mahanthathreyee commented on #102
I would like to clarify a few things,
Does the following come under this issue:

1. Positioning items
2. Addition of missing items (such as "Explore Projects" link in ,
3. Is there a guideline on class names
4. Is the audit to be done only 1920 x 1080 viewport or can other desktop viewport such as 1366 x 768 etc. are also inclusive in the audit

[2019-07-21 16:52] joelwass commented on #102
1) yes
2) no need to _add_ anymore items (good question!)
3) tachyons.io is used for all our classnames and styling, please do not make custom classes
4) all desktop viewports should look roughly like the "desktop" designs
5) not strict!

[2019-07-24 21:32] joelwass opened #107 "Use blurhash to quickly load images"
Use blurhash to quickly load images from DB while larger images are downloaded

https://github.com/woltapp/blurhash

this will need backend support

[2019-07-24 21:33] stripedpajamas commented on #107
I think we can blurhash all our assets and then put the blurhashes inline during loading. This avoids backend work and also keeps the frontend UI and backend decoupled (as they currently are).

[2019-07-30 03:37] stripedpajamas commented on #107
This might not be feasible for TF. Having a loader display (the blurhash) instead of the image requires events on image load, but all but a couple of the images in TF are set via css `background-url`.

[2019-07-31 18:20] jackpaulcollins commented on #100
I can do this!

[2019-07-31 20:13] jackpaulcollins commented on #100
@joelwass @stripedpajamas

I'm trying to understand how you have already made the page dynamic, and upon resizing the screen with the developer tools/React tab open I'm not seeing any classNames update. Can you point me in the right direction in how you're implementing these queries?

[2019-08-01 14:55] korlando7 commented on #100
@jackpaulcollins FWIW, TeacherFund is using [Tachyons](https://tachyons.io/) for styling. All of the class names are always present no matter what the size of the screen is. Each class added might do something different for the responsiveness of the site.

[2019-08-03 13:10] dr0id007 commented on #99
Would like to work on this issue.

[2019-08-09 14:45] msk4862 commented on #104
Do we have to just add a paypal button or implement its functionality also?

[2019-08-09 14:51] joelwass commented on #104
I need to set up a PayPal account to get you the public account key, then the functionality and “adding of the button” should be the same task.

I can do that tonight

[2019-08-09 15:14] msk4862 commented on #104
Okay, I'll start with coding part

[2019-08-10 10:04] msk4862 commented on #104
@joelwass Are you done with setting up PayPal account?

[2019-08-11 20:21] joelwass commented on #104
I'm working on getting a business verification document to paypal in order to get the API key set up, sorry for the delay @msk4862

[2019-08-11 20:30] joelwass commented on #104
Ah here we go

add this to the html where the button should go

[code]

and then i believe this should work

[2019-08-11 20:30] joelwass commented on #104
might need some styling foo

[2019-08-13 08:37] msk4862 commented on #104
@joelwass I've already added a paypal button and functionality, Now you need to add your CLIENT ID (in pages/donate.js) and test the added functinality.

[2019-09-05 16:42] korlando7 commented on #101
@SinghVikram97 are you currently working on this? If not I am going to assign this to myself to complete.

[2019-09-06 20:33] joelwass opened #109 "Improve SEO of site"
Use basic methods outlined in this site to improve SEO via the head component

https://moz.com/blog/the-ultimate-guide-to-seo-meta-tags

[2019-09-07 00:07] stripedpajamas commented on #109
All recommendations followed in cf11641

[2019-09-07 00:07] #109 closed

[2019-09-09 07:25] RichardViskovic commented on #99
Hey there,

If this issue is still available, I'd like to give it a crack!

Best,
Richard

[2019-09-09 16:08] joelwass commented on #99
Absolutely @RichardViskovic it's all yours!

[2019-10-01 15:27] joelwass opened #110 "Add list view of all donations in account.js"
account.js page currently has a modal with how much a user has donated

change that to a list that renders a list of dummy data (date, amount: number, status: string)

to test: can access the page by running the app and forcing the url to /account. dummy data can live within account.js

[2019-10-01 15:56] joelwass commented on #104
No work remains except business logistics. Waiting for tax EIN so i can set up our paypal business side of things

[2019-10-01 16:41] joelwass commented on #110
Styling can be a follow up issue! Thanks @DustinHaefele !

[2019-10-01 17:31] N7Layla commented on #106
Still looking for someone to work on this? This seems like a really valuable project so I'd love to help out, especially on the accessibility front. I ran the site through the axe tool and found these - I'd love to try and submit a fix for at least a few of them:
![image](https://user-images.githubusercontent.com/19983454/65984968-e0b43800-e44e-11e9-98c7-1b5e29dfa2b3.png)

[2019-10-01 18:01] joelwass commented on #106
That would be incredible! Thank you @N7Layla

[2019-10-01 20:39] joelwass commented on #28
Fixed ^

[2019-10-01 20:39] #28 closed

[2019-10-02 03:56] #104 closed

[2019-10-02 03:57] #110 closed

[2019-10-02 21:59] N7Layla commented on #106
Just submitted a PR for several of the fixes, unfortunately I had a lot of trouble getting the Document setup working to add the lang attribute, so here are the major accessibility violations remaining:
 - HTML must have lang attribute (see above information - needs a _document file but I think it may need something additional to play nicely with the _app file)
 - Elements must have sufficient col

[2019-10-03 17:23] danomah commented on #106
Hey Joel @joelwass, I can run a few deep tests with a few screen readers if you are still looking for help? Also on the AXE Pro Beta programme and I know they are looking for as many tests to be run using the tool. Should produce some good results.

[2019-10-03 17:33] joelwass commented on #106
That would be amazing! @danomah

[2019-10-03 20:48] DustinHaefele commented on #100
I've been working through these today.  Finished a few sections.  I'll tinker with it tomorrow and see how far I can get and I'll put in a pull request for what I've done.

[2019-10-03 21:02] EricNewcombe commented on #99
#116

I submitted a pull request for this issue! I'm still new to the whole open source contribution thing so hopefully I did it correctly. Let me know!

[2019-10-03 21:45] joelwass commented on #100
Sweet thanks @DustinHaefele. Don't hesitate to put in a PR for a work in progress so we can assess as necessary

[2019-10-04 08:49] danomah commented on #106
Okily dokily. i'm not the best at react (as in running it in the browser). I've installed NPM and react. When I cd into the folder and run npm start i'm getting nowhere. I know it's something I'm doing wrong. Any advice?

[2019-10-04 10:06] DustinHaefele commented on #106
@danomah are you running npm run build first? With next you have to build before starting.

[2019-10-04 10:22] danomah commented on #106
I shall try that. Sorry it's been a while since I've used React. Thanks
Dustin
D

On Fri, Oct 4, 2019 at 11:06 AM Dustin A Haefele <notifications@github.com>
wrote:

[2019-10-04 10:34] stripedpajamas commented on #106
Have you read through the contributing guide linked from the readme? The steps to get up and running should roughly be:

- make sure you have node and npm installed (node v8 and higher)
- clone the repo, cd into the folder
- run `npm install`
- run `npm run dev`

The last command should build and watch for changes. You should then be able to see the app at http://localhost:3001

@danomah @DustinHa

[2019-10-04 10:38] danomah commented on #106
@stripedpajamas @DustinHaefele That would have been clever of me. :) Thanks Peter and Dustin. Will have a look at it over the weekend. Appreciate it guys.
Dan

[2019-10-06 18:37] meowwwls commented on #106
I would like to take some time going through the full site, but for now, I found several important issues with the donation form, arguably the most important element of the site.

- Even though you are using `aria-label` attributes on form elements to let screenreader users know the purpose of each input, every use benefits from visible labels, especially on a form with multiple inputs (rather tha

[2019-10-06 23:37] joelwass commented on #106
This is awesome, thanks @meowwwls !

[2019-10-07 21:09] joelwass opened #125 "Create blog page"
Create blog page with similar design to https://www.charitywater.org/stories/

(specifically this portion of the page)
<img width="1031" alt="Screen Shot 2019-10-07 at 2 09 15 PM" src="https://user-images.githubusercontent.com/7344422/66348744-1bfdad80-e90c-11e9-8b71-e0e288e53215.png">

with a list of blog posts with a one sentence summary + picture, then a read more link to take user to a full pa

[2019-10-08 06:11] jingwu21 commented on #125
Hi, @joelwass. Could I give this a try?

[2019-10-08 06:16] joelwass commented on #125
Of course! @jingwu21 it’s a pretty vague issue - so don’t hesitate to break it into multiple PR’s to check in with progress

[2019-10-08 19:07] korlando7 opened #128 "Componentize repeating elements"
We have a lot of elements that can be turned into components in order to DRY up the codebase.

**For example:**
Any of the info / statistic cards

**Todo:**
- [ ] Turn any common element into a reusable component
- [ ] Make component styling consistent

[2019-10-08 19:17] korlando7 opened #129 "Fix responsive styles"
Fix main header section:
- [x] adjust section width on small and medium screens
- [x] Address x-small width mobile styling
- [x] Fix "what we provide" content image from 500px to ~740px
- [x] add same content image on small screen

[2019-10-08 20:03] joelwass commented on #125
If you write out some fake data that should work. Here is an example of a page coded out with fake data right now

https://github.com/teacherfund/TeacherFund_next/blob/master/pages/account.js#L9

[2019-10-08 22:49] davidlanger commented on #128
Hi! I started on this little bit and would really like to continue.

[2019-10-09 17:07] korlando7 commented on #128
@davidlanger sounds good!

[2019-10-09 18:18] meowwwls commented on #106
@N7Layla I was banging my head against the wall for a couple hours over this because I was following the docs and was getting server errors. Apparently, the documentation's example for a custom document page is for current versions of Next and this project is using ~v7. What was causing the error was they were importing and using `Html`, which is new to v8 or v9. Removing that and using a regular

[2019-10-09 19:19] dreamerchandra commented on #125
I wish to separate
![](https://user-images.githubusercontent.com/7344422/66348744-1bfdad80-e90c-11e9-8b71-e0e288e53215.png)
this into separate component and use the dynamic route in order to determine the sub-blog post like `/blog/:country` and rerender the same component by supplying different props. The rest of the page stays the same.
If this is the case I would like to create a separate issue

[2019-10-09 22:54] joelwass commented on #106
Should we open an issue to upgrade to latest Next version? @meowwwls

[2019-10-09 23:46] meowwwls commented on #106
@joelwass I think it's a good idea! I'm not sure if there are any breaking changes and I've never worked with Next until this project, so I definitely think a separate issue where those with more experience can talk it out is the way to go.

[2019-10-10 01:26] joelwass opened #136 "Increase nav padding to align with designs"
This is what currently exists:
![image](https://user-images.githubusercontent.com/7344422/66531884-37aab480-eac2-11e9-8010-18b15f88903b.png)

Modify nav padding to look more like this: ![image](https://user-images.githubusercontent.com/7344422/66531848-206bc700-eac2-11e9-96d9-0873733aa401.png)

[2019-10-10 01:50] edwards-j commented on #136
I can handle this one!

[2019-10-10 01:58] joelwass opened #137 "Second section: info stats needs adjusting"
What we have:
<img width="1390" alt="Screen Shot 2019-10-09 at 6 36 10 PM" src="https://user-images.githubusercontent.com/7344422/66532296-c9ff8800-eac3-11e9-82fa-676d50f9510e.png">

title text "We believe that by providing funding to public school teachers, we can support exemplary teaching, increase retention, and impact student success." should be tf-dark-gray color and increased text size slig

[2019-10-10 02:00] joelwass opened #138 "Donate button should fill on hover"
Donate button in nav should fill $pencil-yellow on hover and the text should inverse to white

<img width="379" alt="Screen Shot 2019-10-09 at 7 00 07 PM" src="https://user-images.githubusercontent.com/7344422/66533234-054f8600-eac7-11e9-9d06-1203fbce6b27.png">

[2019-10-10 02:02] sliee17 commented on #137
Can I do this?

[2019-10-10 02:04] joelwass commented on #137
Of course!

[2019-10-10 02:17] anibalajt commented on #136
check PR

[2019-10-10 16:38] #138 closed

[2019-10-10 16:39] #137 closed

[2019-10-10 22:37] joelwass commented on #106
This issue has been sufficiently addressed, thanks you to @meowwwls for taking the lead on accessibility! closing issue for now

[2019-10-10 22:37] #106 closed

[2019-10-10 22:38] joelwass commented on #102
Issue has been solved with sufficient PR's for desktop design. closing for now

[2019-10-10 22:38] #102 closed

[2019-10-10 22:42] meowwwls commented on #106
@joelwass Would it be helpful to open independent issues for the remaining accessibility problems? They almost all involve design decisions as well, so I do think each having their own issue would be best so there can be a discussion. (Color contrast issues, lack of visible labels on form elements, and the mobile menu are 3 of the biggest remaining issues off the top of my head.)

[2019-10-10 22:46] joelwass commented on #106
Definitely would be useful - isolating them also makes them more easily addressed and not too broad as well, thanks @meowwwls  :)

[2019-10-11 04:23] joelwass opened #147 "Update mission page with following edits"
Change text to:

"94 percent of public school teachers spent their own money on school supplies in 2015.

To this day, teachers aren't given the resources to properly educate our children. Making an average of $35,000 a year, public school teachers spend their own money to provide a better learning environment for our children. We thought, “How is this possible?” and sought to change this through

[2019-10-11 04:34] meowwwls commented on #147
I can get this done tonight if no one else wants to grab it.

[2019-10-11 05:09] meowwwls commented on #147
What are your thoughts on this for the button at the bottom? The donate button in the nav is not accessible (color contrast is poor) which is something I will be opening an issue on. Other thoughts behind this:

1. The page is sparse with just text, so having the button be rather bold and not a ghost button definitely helps draw attention.

2. As for the background color, the only other color on t

[2019-10-11 06:06] wale-bant commented on #129
Hi, I'd like to work on this.

[2019-10-11 08:58] maloney8 commented on #147
Hey! I would like to work on this issue. May I?

[2019-10-11 08:58] maloney8 commented on #136
Hey! I would like to work on this issue.

[2019-10-11 09:01] maloney8 commented on #129
Hey! I would like to work on this one.

[2019-10-11 09:23] meowwwls commented on #129
Hey, @maloney8 and @wale-bant ! @korlando7 is working on this issue and has submitted a pull request with the work they've already done.

[2019-10-12 16:46] #129 closed

[2019-10-13 02:53] unsuitable001 commented on #107
Sounds interesting. May I take this issue?
What I'm planning to do is, replace all the img element into canvas element.
Using this library for encoding / decoding - https://github.com/woltapp/blurhash/tree/master/TypeScript

Then, load the actual image `using fetch() or similar` & re-draw the canvas with actual image.

[2019-10-13 14:19] capndave commented on #128
@davidlanger Let me know if you'd like me to take on a few of the elements, and which ones if so!

[2019-10-14 17:33] joelwass commented on #147
Ah sorry @meowwwls ! I didn't see your comment before merging the PR. Want to take a look to the updated code and see how it compares? Also i think the hover color switch would be amazing

[2019-10-14 17:45] korlando7 commented on #147
@joelwass @meowwwls how do you feel about a yellow background button and then on hover use a translucent background with yellow outline? Reverse of the homepage.

[2019-10-14 19:40] meowwwls commented on #147
@joelwass I will take a look this evening or tomorrow! I'm sorry for being slow to get around to things this week.

@korlando7  Commented in your PR!

[2019-10-14 21:14] korlando7 opened #150 "Make font sizes consistent and in line with design"
Currently our font sizes are not consistent throughout the app. Follow the [designs](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/) and audit the font sizes for the provided screen sizes (mobile, tablet, desktop). Make sure font sizes are visually correct and consistent.

- [ ] evaluate and update font sizing for all mobile, tablet, and desktop screen sizes.

[2019-10-14 22:13] arturoalviar commented on #150
Hey, can I take this?

[2019-10-14 22:15] joelwass commented on #150
Definitely! @arturoalviar Don't hesitate to work with @korlando7 on specifics

[2019-10-14 23:23] meowwwls opened #151 "Using a PageWrapper component to streamline page creation"
Though we only have a few pages now, I know it will grow. I was thinking it would help to have a `PageWrapper` component for all of the pages that will be the same except for the content portion. This will not only make it easier to create new pages, but will give us a more central location to change things across all pages, should they need to change in the future.

For example, the pages really

[2019-10-15 20:01] #136 closed

[2019-10-15 21:07] #151 closed

[2019-10-16 04:58] arturoalviar commented on #150
I am going through the [homepage screen](https://xd.adobe.com/spec/39899b04-1c47-452f-7902-d76fed55d62e-4fb8/screen/3f125505-b3ab-4a53-a97f-d33cf0ab1bb4/Web-1920-1) and noticed that most font sizes do not match the [Tachyons's type scale](http://tachyons.io/docs/typography/scale/).

When using the type scale classes, some headings are barely off (e.g. banner heading is 100px in design comp vs Tach

[2019-10-24 15:13] ralph1786 commented on #101
@korlando7 can I work on it or did you complete it?

[2019-10-24 16:10] joelwass commented on #101
I think this is mostly done, thanks @ralph1786 , closing for now

[2019-10-24 16:10] #101 closed

[2019-10-27 15:11] nahsiloh commented on #125
Hello! Would love to help. Is this task still available?

[2019-10-28 17:35] joelwass commented on #125
This is still a work in process! so feel free to checkout the code, navigate to /blog and hack away!

[2019-10-30 18:44] mariofornaroli opened #159 "Feature Request/Proposal"
Hi,

I’m Mario Fornaroli, I’ve been working as full stack web developer for around 9/10 years (http://mariofornaroli-cv.azurewebsites.net/ ), but never contributed to Open Source. Recently I’ve decided to start contributing and I found your interested project through the site https://up-for-grabs.net
Thus, I write you to propose you my effort in any needed new feature. For example, visiting the si

[2019-10-30 19:01] joelwass commented on #159
Hey Mario! Thanks for the interest, I think our designer might have some input

[2019-10-30 19:07] mariofornaroli commented on #159
Sure, I'll wait to be contacted by the designer. Are already there backend api to retrive those data (or similar) or that/those backend should be also implemented?

[2019-11-05 04:53] erynrat commented on #159
Hi Mario, Thanks for your input! I like that idea for sure, but I'm not sure TTF has the information yet to make that page compelling. @joelwass Do you have more / deeper statistics that we could display for this type of page or might that come later?

[2019-11-05 05:00] erynrat commented on #150
Hi Arturo, thanks for bringing this up. Definitely learned something new. Can you provide the standardized text sizes are used (in px) and I will update the designs so you aren't guessing?

[2019-11-05 05:12] erynrat opened #161 "Styling of Menu (Desktop and Mobile)"
Hi all,

Thanks for all of your great work on this site so far. I'm hoping that by coming in and adding a few more design-focused edits, we can get the site looking its best. :) See below for my changes:

**Desktop Menu:**
- Add a transition to the fill / hover state of the Donate button. Maybe .3 or .4 seconds?
- Make the donate button shorter, more like this:
![image](https://user-images.githubu

[2019-11-05 05:17] erynrat commented on #161
@joelwass Can you remind me how to label these? I don't see the checkbox that this article is referring to:
https://help.github.com/en/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests

[2019-11-05 05:41] erynrat opened #162 "Styling of Hero Image (Responsive)"
Can someone make these style edits to the hero image and text on the homepage?

**Large Laptop (1440px wide):**
- Move hero image down so pencil tips aren't so close to white nav bar
- What is the next size down from the current text "Funding Teachers. Empowering Students."? This is looking a little big to me, but if it is a big jump down I will reconsider.
- Can you made the tagline below bolder

[2019-11-05 19:39] JennaKoslowski commented on #162
I can work on this!

[2019-11-05 23:27] erynrat commented on #162
Thank you, Jenna! Let me know if you have any questions and I'll try to answer.

[2019-11-05 23:52] joelwass commented on #159
I think that's a great point, we just don't have the stats to warrant it's own page yet.

[2019-11-11 08:21] neusaguera commented on #161
I can work on this!

[2019-11-12 02:09] JennaKoslowski commented on #162
So I've been trying to figure out if there'd be an easier/ less intrusive way to solve the space issue between the navigational part and the pencil tips and I think a lot of it could be solved if the image and text were in their own component. Are you cool with that or do you see a different way?

[2019-11-12 16:59] joelwass commented on #162
I think that works, @stripedpajamas what do you think

[2019-11-12 23:24] stripedpajamas commented on #162
For sure

[2019-12-29 13:50] deepank120896 commented on #161
@erynrat @neusaguera
Has this issue been addressed?

[2019-12-29 16:26] joelwass commented on #161
Yes! sorry @deepank120896 sometimes github doesn't auto close issues

[2019-12-29 16:26] #161 closed

[2020-01-21 04:32] BarrieLAJ commented on #128
Should this issue br closed?

[2020-01-21 04:33] joelwass commented on #128
This issue is ongoing and can still be worked on, however more technical design might be necessary before doing work as the easy components have been completed

[2020-01-21 04:35] BarrieLAJ commented on #128
Okay will look for some elements I can work on.

[2020-03-01 20:26] joelwass opened #165 "Migrate react-stripe-elements to @stripe/react-stripe-js"
Stripe has a newer version of elements and loading

i think this is as simple as removing the stripeProvider element and using the loadStripe promise instead
`import { Elements, StripeProvider } from 'react-stripe-elements'`
should become:
`import {Elements} from '@stripe/react-stripe-js'`

and loading stripe should be done with
`const stripePromise = loadStripe('<stripe_pk_key>')`

this will also

[2020-03-06 07:57] Jay-Topher commented on #162
Hi, has this issue been resolved? I would like to work on it.

[2020-03-06 17:46] joelwass commented on #162
Hi Jay! It actually has - sorry i didn't close it. A PR was submit about a week ago

[2020-03-06 17:46] #162 closed

[2020-05-27 12:38] hi-matbub commented on #100
I'll be spending some time contributing to this today, if there's anything in particular let me know & I'll focus on that. Otherwise I'll be going from top to bottom

[2020-05-27 15:18] joelwass commented on #100
awesome @hi-matbub ! i think one thing to note is people have contributed before so a lot of this could already be done, but any marginal improvement is always appreciated!

[2020-05-31 15:20] zachsnoek commented on #165
@joelwass May I try this one?

[2020-05-31 17:03] joelwass commented on #165
Of course! @zachsnoek

[2020-06-01 00:12] zachsnoek commented on #165
I've not used Stripe before; what would be an appropriate way to test this?

[2020-06-01 03:12] joelwass commented on #165
If it renders, you’re in business! I’ll Review the PR to make sure you didn’t miss anything

[2020-06-22 15:34] #165 closed

[2020-06-22 15:34] joelwass opened #170 "No thumbnail image"
We need a thumbnail image so when donors tweet that they've just donated, an image shows up when our URL is expanded.

Best image to use is: /static/images/Logo.png

[2020-06-23 22:40] DhyeyLalseta commented on #170
Hey! I'll try to start on this!

[2020-08-22 17:01] dankb82 commented on #170
Did [this PR](https://github.com/teacherfund/TeacherFund_next/pull/171) resolve the issue or is it still open?

[2020-08-23 19:39] dhyxy commented on #170
From how much I tried with it, I think it's fixed now. If anyone else wants to test it out I used:

[Facebook Debugger](https://developers.facebook.com/tools/debug/)

[Twitter Validator](https://cards-dev.twitter.com/validator)

[2020-08-24 02:44] joelwass commented on #170
I believe it's fixed! Sorry, the issue wasn't tagged in the PR so it didn't auto fix

[2020-08-24 02:44] #170 closed

[2020-08-24 02:44] #128 closed

[2020-09-06 16:59] joelwass opened #178 "Cancel donation shows when drawer is open on mobile"
See screenshot below

<img width="333" alt="Screen Shot 2020-09-04 at 9 24 33 AM" src="https://user-images.githubusercontent.com/7344422/92330941-a91f1a00-f027-11ea-8fa6-b7f185985f39.png">

To reproduce, run the server locally and visit the account page and then open the drawer

[2020-09-06 17:21] joelwass opened #179 "Create kill switch for stripe and magic link api calls so that others can dev locally"
Currently, secret and public keys are rampant across TF code base.

Need to create stripe and magic link api kill switch so that api calls are intercepted and mocked. This will enable anyone to spin up the TF frontend and contribute without exposing secret keys to the world

[2020-09-14 14:29] nikhilgupta2001 commented on #150
can i work on this

[2020-09-14 16:32] joelwass commented on #150
of course! @nikhilgupta2001

[2020-09-21 12:51] chaudhariyash10 commented on #150
Is this issue closed or if not Can give it a shot?

[2020-09-21 17:41] joelwass commented on #150
I think it's roughly solved so i'll close for now, thanks @chaudhariyash10

[2020-09-21 17:41] #150 closed

[2020-09-21 17:42] #100 closed

[2020-09-23 17:56] joelwass commented on #179
should use https://www.npmjs.com/package/msw

[2020-09-25 18:08] #178 closed, assigned to nobody

[2020-10-01 11:19] sukanyashet commented on #99
would like to work on this

[2020-10-15 20:35] DeadSpoon18 opened #184 "Buttons and text overlapping."
![2](https://user-images.githubusercontent.com/58849158/96182249-daf29d00-0f52-11eb-962e-43907da6adde.png)
![1](https://user-images.githubusercontent.com/58849158/96182260-dded8d80-0f52-11eb-99cf-6cc2d3439244.png)
when website is viewed on mobile phone, these parts are overlapping.

[2020-10-15 21:31] nmoras opened #185 "Scroll to the Top feature on FAQ page"
The FAQ page on the site has a lot of content.
A feature like the 'scroll to Top' button would help people to get back to the top of the page immediately and also, as the users don't scroll down to the answer on their own, a click on the question suddenly takes them down to the answers, adding a scroll to Top button might be intuitive.  Can I please work on it? I could work on it and if it adds to

[2020-10-15 21:51] joelwass commented on #185
Definitely! Thanks @nmoras ! i like that idea.

Please use Chakra-UI when implementing the link or button

[2020-10-15 21:53] nmoras commented on #185
@joelwass thank you... sure

[2020-10-23 06:07] rmit-s3722599-Minh-Le commented on #184
Hi! I'm new to contributing, kind of my first time too and I want to take on this task if that's ok? ^^

[2020-10-25 04:56] joelwass commented on #184
Definitely! This might be tough as it only can be reproduced on Tablet Width so definitely reach out with any questions.

Familiarizing yourself with Tachyons.io (our current styling method) and chakra-ui (our newly desired styling method) will be helpful as well!

[2020-10-30 04:30] rmit-s3722599-Minh-Le commented on #184
Hi there!
If I want to add something like ```min-width: fit-content```, but it doesn't have it in the Tachyons.io styling method, how can I add the style to the button?

[2020-11-03 05:23] joelwass commented on #184
Hi @rmit-s3722599-Minh-Le  sorry for the late response!

We're trying to move to Chakra UI styling, so if it's a div you're trying to replace, you'd use the "Box" component from chakra, and then you can set minWidth as a prop on the Box component.

https://chakra-ui.com/box

if you let me know what pieces of code you're trying to edit i can advise further! thanks for contributing :)

[2020-11-05 04:21] rmit-s3722599-Minh-Le commented on #184
Noo it's fine!!
Thanks for the response, and I'll look into that!! :)

[2020-11-05 19:32] TDonnally opened #188 "Change contact page to a form"
I noticed your contact page displays the relevant email in text. I want to create a contact form for this page that can be submitted there as opposed to someone having to leave the site to compose an email. Is there any interest in this feature?

[2020-11-05 23:16] joelwass commented on #188
That'd be great! what method do you have in mind for sending the contents of the form to us?

[2020-11-06 00:24] TDonnally commented on #188
I could send it directly from the front end using EmailJS and then I could PM you the credentials or I could use Nodemailer with the backend. Would either of those work?

[2020-11-06 00:58] joelwass commented on #188
let's try emailJS ! would love to see that

[2020-11-09 12:07] rmit-s3722599-Minh-Le commented on #184
Hi @joelwass

I'm nearly done, fixed the overlappings. Just having trouble trying to make the buttons the same height after some of the fixes and edits.

The buttons heights are relative the same in a normal width size browsing in like the computer:

<img src="https://user-images.githubusercontent.com/41458636/98538942-9fdc5300-22df-11eb-8446-541c33362fae.png" width="500" height="500">

But when y

[2020-11-10 18:07] joelwass commented on #184
I think that's fine, for odd dimensions like that, before it hits the breakpoint of "small" screensize that's probably fine.

Send up a PR, thanks so much for working on this :)

[2020-11-11 06:10] rmit-s3722599-Minh-Le commented on #184
Thank you for giving me the opportunity to help!! :)
There happens to be a merge conflict (edit: I fixed it I think!) though, i'll send the pull request!

[2020-12-03 02:40] Zhoha28 opened #191 "Change the width of the division"
![Capture](https://user-images.githubusercontent.com/32241004/100956552-ae183a80-353e-11eb-9462-389a749d93c7.PNG)
Change the width of the div to 100% so the teal color (#336e7b) covers the entire background.

[2020-12-03 05:48] joelwass commented on #191
It's supposed to be 94% to show that the budget is lacking, to go along with the comment!

[2020-12-03 05:48] #185 closed, assigned to nobody

[2020-12-03 05:48] #184 closed, assigned to nobody

[2020-12-03 05:49] #125 closed

[2020-12-03 08:30] Zhoha28 commented on #191
oh, my bad

[2020-12-03 17:54] joelwass commented on #191
No worries :) thanks for checking it out!

[2020-12-03 17:54] #191 closed, assigned to nobody

[2020-12-11 16:39] joelwass opened #193 "Add button on account page to download tax receipt"
Since The Teacher Fund has become tax deductible 501c3, we need to allow users to download a receipt of all their donations for the past year.

There should be a button below the other buttons on the account page that says “download tax deductible receipt”

It should hit stripe to get all payments for this customerId until the 1st of January of the year (should be the stripe . List Charges endpoin

[2021-01-11 13:27] CodeWithBlaze commented on #99
i also want to work on this issue . i am a newbie but want to contribute . I want to work with you guys @EricNewcombe and @joelwass

[2021-01-20 19:29] stripedpajamas commented on #159
Maybe for now the numbers could link to the blog page?

[2021-01-20 19:37] #107 closed

[2021-04-24 17:23] #193 closed, assigned to nobody

[2021-05-28 20:04] misterbastean commented on #188
Submitted a PR (#203) for this. Used Nodemailer because it doesn't have a fee. Just need to add a couple environmental variables (email username, email password) and update the SMTP settings as needed.

[2021-06-16 23:44] KrazyK786 commented on #179
submitted PR [205](https://github.com/teacherfund/TeacherFund_next/pull/205) as an attempt at this   🙇🏾‍♂️

[2021-11-22 13:03] shubham-sharma-2323 commented on #99
Is this issue still open? I would like to work on this issue...

[2021-11-23 00:30] joelwass commented on #99
Yes @shubham-sharma-2323 it is still open if you would like to do it!

[2021-11-23 00:31] joelwass commented on #99
comments in this closed PR may help @shubham-sharma-2323 https://github.com/teacherfund/TeacherFund_next/pull/116

[2022-03-17 02:31] joelwass opened #216 "Payment doesn’t change on existing customers"

[2022-03-17 04:59] joelwass opened #217 "return error from stripe about failed card info"

[2022-03-17 05:18] #217 closed, assigned to nobody

[2022-03-17 17:08] #216 closed, assigned to nobody

[2022-05-17 23:01] swingleSara commented on #99
I would like to work on this if it is still open.

[2022-05-17 23:13] joelwass commented on #99
It is @swingleSara please refer to the closed PR #116 and it's comments

[2022-05-18 21:15] swingleSara commented on #99
I don't know how I missed that in all the comments before mine, but I
clearly see it now. Thanks!

On Tue, May 17, 2022, 17:13 Joel Wasserman ***@***.***> wrote:

[2022-07-24 10:28] Dreezy305 opened #227 "scroll-to-top button"
Hi there,

I noticed that the scroll-to-top button on the landing page isn't visible. I'd like to create a scroll-to-top button that will be visible for visitors to see.

I have been working as a front-end developer but I haven't contributed to open source before. I look forward to a response from you

[2022-07-24 17:14] joelwass commented on #227
Hi @Dreezy305 ! It should be visible once you start scrolling.

Could you provide a screenshot down a page where it isn't visible?

[2022-09-20 21:32] gccornejo441 opened #228 "Writing code segment on CONTRIBUTING.md"
_Please note: all design should be made with [our home page style](https://github.com/teacherfund/TeacherFund_next/blob/master/HomePageDesign.pdf) in mind._

Does this simply go to a pdf of the current Homepage TeacherFund website?

[2022-09-20 21:41] joelwass commented on #228
oh weird, hmmmmm it was a PDF of the design for the page, not a pdf of the actual website. let me add it back

[2022-10-01 07:20] Hirenachhaada opened #229 "The scrollToTop icon does not come suddenly even if you have sroll the page"
https://user-images.githubusercontent.com/95188259/193397946-99512b3c-d333-4a74-815e-03f8a28acb56.mp4

[2022-10-04 17:32] adityapathakk commented on #99
Hello, I'd like to take up this issue as my Hacktoberfest contribution!

[2022-10-08 16:29] 0xClint commented on #99
Is this issue will be tagged as Hactoberfest ?

[2022-10-12 19:42] Tyler-Pritchard commented on #99
This issue is listed on Upforgrabs.net, but it sounds like it's been closed?

[2022-10-25 07:55] abdulhaseeb036 commented on #229
This is what I actually analyze, good to see this issue already presents.

[2022-10-25 07:58] abdulhaseeb036 commented on #99
I want to work on this issue, it still alive?

[2022-10-25 17:06] joelwass commented on #99
Yes it is, it's not closed, please refer to previous comments and PR #116 for details on how to approach this

[2022-10-25 17:08] joelwass commented on #229
Yes - the scroll to top button should only show after you have scrolled past the main view port, not immediately, otherwise you are scrolling to view content you can still see

[2022-10-25 17:08] #229 closed, assigned to nobody

[2022-11-25 22:51] younes-damouna opened #234 "PayPal icon isn't available or moved to another file."
PayPal icon isn't loading. When you press on it the 403 error appears.

[2022-11-27 21:21] joelwass commented on #234
shoot, looking into this now, thanks Younes!

[2022-11-27 21:25] joelwass commented on #234
Hm, can you include a screenshot of what you're seeing and describe the issue a little more? this is what i'm seeing and the flow works

<img width="693" alt="Screen Shot 2022-11-27 at 1 25 16 PM" src="https://user-images.githubusercontent.com/7344422/204160466-fd58d45d-d826-4f18-8c01-1b953b9cce7f.png">

[2022-11-27 21:32] joelwass commented on #227
closing as obsolete, i cannot reproduce

[2022-11-27 21:32] #227 closed, assigned to nobody

[2022-11-27 22:09] younes-damouna commented on #234
Here You can find the screenshot!
And my be I'm the only one seeing the error because PayPal isn't available where I live.

![Screenshot_20221128-000830_Chrome.jpg](https://user-images.githubusercontent.com/107083535/204162260-0ccdb715-60ae-4ef8-a231-481061a7d721.jpg)

[2022-11-27 22:09] younes-damouna commented on #234
Here You can find the screenshot!

![Screenshot_20221128-000830_Chrome.jpg](https://user-images.githubusercontent.com/107083535/204162260-0ccdb715-60ae-4ef8-a231-481061a7d721.jpg)

[2022-11-27 22:56] #228 closed, assigned to nobody

[2022-11-27 23:25] joelwass commented on #234
does this link load for you?

https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif

[2022-11-28 00:01] younes-damouna commented on #234
403 Forbidden!